name: Release

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  release:
    uses: aukilabs/go-tooling/.github/workflows/release.yml@main
    name: Release
    with:
      app_name: hagall
    secrets:
      docker_username: ${{ secrets.DOCKER_USERNAME }}
      docker_password: ${{ secrets.DOCKER_PASSWORD }}
